
/*内容页广告*/
.guangaoTopSty{ margin:5px auto; width:932px; height:100%;}
.divDownSty{margin:10px 0px; width:618px; height:20px; float:left; border:1px solid #D5D5D5}
.rightUpSty{margin:0px 0px 10px 0px; width:296px; height:100%;border:1px solid #D5D5D5}
.rightDownSty{margin:10px 0px; width:296px; height:100%;border:1px solid #D5D5D5}